.legend-container {
  position: fixed;
  bottom: 1%;
  right: 17%;
  background-color: rgba(255, 255, 255, 0.8); /* Прозрачный белый фон */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.legend-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.legend-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
