.legend-container {
  position: fixed;
  bottom: 1%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.legend-container.open {
  right: 310px;
}

.legend-container:not(.open) {
  right: 10px;
}

.legend-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.legend-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

/* TODO Media */
@media (min-width: 1400px) {

}

@media ((max-width: 1399.98px) and (min-width: 1200px)) {

}

@media ((max-width: 1199.98px) and (min-width: 992px)) {

}

@media ((max-width: 991.98px) and (min-width: 768px)) {

}

@media ((max-width: 767.98px) and (min-width: 576px)) {

}

@media (max-width: 576px) {

}