.map-page-for-app-container {
  height: 100vh;
}

.map-page {
  display: flex;
  height: 100%;
  position: relative;
}

.panel-container {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.panel-container.left {
  left: 0;
}

.panel-container.right {
  right: 0;
}

.filter-panel, .marker-panel {
  width: 300px;
  height: 100%;
  background: #2c3e50;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.filter-panel.collapsed {
  transform: translateX(-100%);
}

.marker-panel.collapsed {
  transform: translateX(100%);
}

.panel-toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 60px;
  background: #34495e;
  cursor: pointer;
  border: 1px solid #1abc9c;
  z-index: 1001;
  transition: all 0.3s ease;
}

.panel-container.left .panel-toggle {
  right: -20px;
  border-radius: 0 5px 5px 0;
}

.panel-container.right .panel-toggle {
  left: -20px;
  border-radius: 5px 0 0 5px;
}

.panel-toggle img {
  width: 20px;
  transition: transform 0.3s ease;
  filter: invert(100%);

}

.panel-container.left .panel-toggle:not(.open) img {
  transform: rotate(-90deg);
}

.panel-container.right .panel-toggle:not(.open) img {
  transform: rotate(90deg);
}

.panel-container.left .panel-toggle.open img {
  transform: rotate(90deg);
}

.panel-container.right .panel-toggle.open img {
  transform: rotate(-90deg);
}

.panel-toggle:hover {
  background: #1abc9c;
}

.panel-toggle:hover img {
  filter: brightness(2);
}

.notification {
  position: fixed;
  top: 2%;
  right: 10%;
  background-color: #1abc9c;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  font-size: 16px;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease;
  animation: fade-in-out 3s forwards;
}
.error-notification {
  position: fixed;
  top: 2%;
  right: 10%;
  background-color: rgb(175, 13, 13);
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  font-size: 16px;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease;
  animation: fade-in-out 3s forwards;
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(-20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}